{% extends 'base_public.html' %}
{% load static %}
{% block content %}

<div class="row espaco-m-top-0">
  <div class="col s12 m3 l3 hide-on-med-and-down">
    <div class="chip transparent">
      <img src="{% static 'photo.jpeg' %} " alt="Anilésio Xavier">
      Anilésio Xavier
    </div>
    <ul class="collection sem-borda">
      <li class="collection-item"><a href="#"><span class="fa fa-heart"></span> COVID-19 Centro de informações</a></li>
      <li class="collection-item"><a href="#"><span class="fa fa-user"></span> Amigos</a></li>
      <li class="collection-item"><a href="#"><span class="fa fa-tag"></span> Guardados</a></li>
      <li class="collection-item"><a href="#"><span class="fa fa-users"></span> Grupos</a></li>
      <li class="collection-item"><a href="#"><span class="fa fa-store"></span> Marketplace</a></li>
      <li class="collection-item"><a href="#"><span class="fa fa-chevron-down"></span> Ver mais</a></li>
      <div class="borda-top"></div>
    </ul>

    <ul class="collection sem-borda">
      <h6 class="negrito grey-text text-darken-2">Os teus atalhos</h6>
      <li class="collection-item"><a href="#">Linux Brasil</a></li>
      <li class="collection-item"><a href="#">React Native Brasil</a></li>
      <li class="collection-item"><a href="#"></a>Flutter Angola</li>
      <li class="collection-item"><a href="#">Wattpad - Livros e divulgações</a></li>
      <li class="collection-item"><a href="#">Marketplace</a></li>
      <li class="collection-item"><a href="#">PHP Brasil</a></li>
      <div class="borda-top"></div>
    </ul>

  </div>

  <div class="col s12 m12 l6">
      <div class="row">
        <div class="col s12 m3 l3">
          <div class="card borda-2" style="height: 200px;">
            <div class="card-image borda-2">
              <img src="{% static 'photo.jpeg' %}" style="height: 100%; border-radius: 10% 10% 0 0;">
              <div class="center-align negrito">
                <p>Criar história</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col s12 m3 l3 hide-on-med-and-down">
    <div class="aniversary-box">
      <h6><span class="fa fa-gift"></span> Aniversários  <a href=""><span class="right fa fa-times"></span></a></h6>
      <p>O aniversários de <span class="negrito">Maria Augusto</span> é hoje.</p>
      </div>

      <div class="borda-top espaco-m-top-1">

      </div>
      <ul>
        <div class="espaco-m-baixo-0">
        <h6><span class="negrito">Contactos</span>
          <span class="fa fa-ellipsis-h right espaco-m-left-1"></span>
          <span class="fa fa-search right espaco-m-left-1"></span>
          <span class="fa fa-camera right espaco-m-left-1"></span>

        </h6>
        </div>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Odja Geovania</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Giovanni Giorgio</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">José Carlos Barbosa</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Alfanésia Xavier</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Osvaldo J Erudito</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Kenneth José Barros</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">John Sean Paul</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Aristodes Bernardo</a>
        </div> <br>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt="Anilésio Xavier">
          <a href="">Jessé Cassule</a>
        </div> <br>
      </ul>
    </div>

  </div>

</div>


{% endblock %}
